.block1 {
  font-size: small;
  text-align: center;
}
#para1 {
  text-align: center;
}
.head1 {
  text-align: center;
}
.label1 {
  text-align: center;
  margin: 6px;
}
#body {
  background-image: url(https://i.postimg.cc/6pTgNpxh/tiger-background.jpg);
  background-blend-mode: color-burn;
}
.akannames {
  float: left;
  column-count: 2;
}
.akan1 {
  margin: 0;
  padding: inherit;
}
