.centerpara {
  text-align: center;
}
.head1 {
  text-align: center;
}
.label1 {
  text-align: center;
  margin: 6px;
}
#body {
}
.akannames {
  column-count: 1;
  text-align: center;
}
.akan1 {
}
.bodycontainer {
  padding: 7px;
  text-align: center;
}
