.centerpara {
  text-align: center;
}
.head1 {
  text-align: center;
}
#body {
  background-color: #8fbc8f;
}
.akannames {
  column-count: 1;
  text-align: center;
}
.akan1 {
}
.bodycontainer {
  margin: 7px auto;
  padding: 7px auto;
  text-align: center;
}
.dob-section {

}
.label1 {
  text-align: center;
  margin: 6px;
  font-weight: bold;
}
.back-card {
  background-color: #;
  font-size: 20px;
}
.head2 {
  font-family: monospace;
}
.card-border {
  width: 75%;
  margin: 7px 160px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26)
}
